<style>
  #panel-container.is-open #panel-backdrop {
    opacity: 0.5 !important;
    pointer-events: auto !important;
  }

  #panel-container.is-open #panel {
    right: 0 !important;
  }

  .error {
    background: var(--error);
  }

  .secondary {
    color: var(--brand-1);
    border: 2px solid var(--brand-1);
    background: transparent;
  }
</style>

<div id="panel-container">
  <div
    id="panel-backdrop"
    class="absolute transition-opacity inset-0 bg-dark-1 opacity-0 pointer-events-none"
    s-click="_panelEasyClose"
  ></div>

  <div
    id="panel"
    class="absolute transition-all bg-light-3 shadow-xl px-12 w-1/2 top-[var(--header-height)] bottom-0 -right-1/2"
  >
    <% if ($.panel) { %>
    <h2><%= $.panel.title %></h2>

    <form s-submit="_panelSubmit">
      <% for (let field of $.panel.fields) { %>
      <fieldset id="<%= field.name %>-fs">
        <label for="<%= field.name %>"><%= field.label %></label>
        <% if (field.type === 'checkbox' && field.value) {%>
        <input
          id="<%= field.name %>"
          type="<%= field.type %>"
          checked
          name="<%= field.name %>"
          s-blur="_panelValidate"
        />
        <% } else if (field.type === 'checkbox') { %>
        <input id="<%= field.name %>" type="<%= field.type %>" name="<%= field.name %>" s-blur="_panelValidate" />
        <% } else if (field.type === 'textarea') { %>
        <textarea id="<%= field.name %>" name="<%= field.name %>"><%= field.value %></textarea>
        <% } else { %>
        <input
          id="<%= field.name %>"
          type="<%= field.type %>"
          value="<%= field.value %>"
          name="<%= field.name %>"
          s-blur="_panelValidate"
        />
        <% } %>
        <span class="invalid-message"><%= $._formErrors?.name %></span>
      </fieldset>
      <% } %>

      <div class="flex gap-4">
        <div class="flex-1"></div>

        <% for (let buttonIndex in $.panel.buttons) { let button = $.panel.buttons[buttonIndex]; if (button.type ==
        'submit') { %>
        <button type="submit" class="<%= button.coloring %>"><%= button.label %></button>
        <% } else { %>
        <button s-click="_panelBtn" class="<%= button.coloring %>" s-payload="<%= buttonIndex %>">
          <%= button.label %>
        </button>
        <% }} %>
      </div>
    </form>
    <% } %>
  </div>
</div>
