<!-- Panel for new or update -->
<div
  id="panel"
  class="absolute transition-all bg-slate-200 shadow-xl px-12 w-1/2 top-[var(--header-height)] bottom-0 -right-1/2"
>
  <% if ($.book) { %>
  <h2><%= $.book.id ? "Edit" : "New" %> Book</h2>
  <form s-submit="<%= $.book.id ? 'updateBook' : 'createBook' %>" class="max-w-lg">
    <input type="hidden" name="id" value="<%= $.book._id %>" />

    <fieldset id="title-fs">
      <label for="title">Title</label>
      <input id="title" type="text" name="title" value="<%= $.book.title %>" s-blur="validate" />
      <span class="invalid-message"><%= $._formErrors?.title %></span>
    </fieldset>

    <fieldset id="author-fs">
      <label for="author">Author</label>
      <input type="text" id="author" name="author" value="<%= $.book.author %>" s-blur="validate" />
      <span class="invalid-message"><%= $._formErrors?.author %></span>
    </fieldset>

    <div class="flex">
      <% if ($.book.id) { %>
      <button type="button" s-click="deleteBook" s-payload="<%= $.book.id %>" class="bg-dark-1">Delete</button>
      <% } %>

      <button id="submit-btn" type="submit" class="ml-auto"><%= $.book.id ? 'Update' : 'Create' %></button>
    </div>
  </form>
  <% } %>
</div>
