<script sync>
  const Litter = require('~/models/Litter')
  const Deposit = require('~/models/Deposit')
  const validate = require('~/lib/validate')
  const { openPanel, initPanel } = require('~/lib/panel')

  initPanel(on)

  async function getLitters($) {
    $.litters = await Litter.find({})

    for (const litter of $.litters) {
      const deposits = await Deposit.find({ litterId: litter.id })

      litter.numberOfDeposits = deposits.length
      litter.numberOfConfirmedDeposits = deposits.filter((deposit) => deposit.confirmed).length
    }
  }

  on.mount = async (ctx, $) => {
    if (!ctx.session.user) return ctx.redirect('/backend/login')

    $.title = 'Admin Panel'
    await getLitters($)

    return ctx.render($)
  }

  on.openCreateLitterPanel = async (ctx, $) => {
    openPanel(ctx, $, {
      title: 'Create Litter',
      submitAction: 'createLitter',
      easyClose: true,
      fields: [
        {
          type: 'text',
          name: 'title',
          label: 'Title',
          value: ''
        },
        {
          type: 'text',
          name: 'imageUrl',
          label: 'Image Url',
          value: ''
        },
        {
          type: 'number',
          name: 'expectedCount',
          label: 'Expected Count',
          value: 0
        },
        {
          type: 'checkbox',
          name: 'sellingDeposits',
          label: 'Selling Deposits',
          value: false
        }
      ],
      buttons: [
        {
          type: 'button',
          coloring: 'secondary',
          label: 'Cancel'
        },
        {
          type: 'submit',
          coloring: 'primary',
          label: 'Create'
        }
      ]
    })

    return ctx.render($)
  }

  on.createLitter = async (ctx, $) => {
    await Litter.create(ctx.payload)
    await getLitters($)

    return ctx.render($, '#litters')
  }
</script>

<section class="h-full container">
  <h2>Litters</h2>

  <hr />

  <div class="flex flex-col gap-2" id="litters">
    <% for (let litter of $.litters) { %>
    <a
      class="custom flex gap-4 items-center border-1 p-4 bg-light-3 rounded hover:bg-light-4 cursor-pointer transition-colors"
      href="/backend/litter/<%= litter.id %>"
    >
      <div class="w-4 h-4 rounded-full <%= litter.sellingDeposits ? 'bg-success' : 'bg-dark-4' %>"></div>

      <img src="<%= litter.imageUrl %>" class="rounded-full h-12 w-12 object-cover object-center" />

      <div class="flex-1 flex flex-col gap-2">
        <div class="text-lg"><%= litter.title %></div>
        <div class="text-sm text-dark-4">
          <span><%= litter.expectedCount %></span> puppies expected -
          <span><%= litter.numberOfDeposits %></span> deposits made -
          <span><%= litter.numberOfConfirmedDeposits %></span> deposits confirmed.
        </div>
      </div>
    </a>
    <% } %>
  </div>

  <button s-click="openCreateLitterPanel">Add New Litter</button>
</section>
